head.
    <meta charset="utf-8">

    <!-- CHECKLIST: Remove if activated in .htaccess -->
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">

    <!-- CHECKLIST: Test on CMS
         Must be filled on all pages -->
    <title>Title</title>

    <!-- CHECKLIST: Test on CMS
         SEO stuff, need to be on every indexing page -->
    <meta name="keywords" content="{FIXME}">
    <meta name="description" content="{FIXME}">

    <meta name="viewport" content="width=device-width">

    <!-- CHECKLIST: Test on CMS
         Canonical url for a page to index in search engines, need to be on every indexing page -->
    <link rel="canonical" href="{FIXME}">

    <!--[if gt IE 8]><!--><link rel="stylesheet" href="publish/style.css"><!--<![endif]-->
    <!--[if lt IE 9]><link rel="stylesheet" href="publish/style.ie.css"><![endif]-->

    <!-- If IE, use html5shiv to init html5 tags -->
    <!--[if lt IE 9]><script src="lib/html5shiv.js"></script><![endif]-->